<footer class="footer">
  <div class="container footer__inner">
    <a href="/" class="logo footer__logo">Recovery Pod</a>
    <div class="footer__social">
      <a
        href="https://www.instagram.com/therecoverypodcontrasttherapy"
        class="footer__social-link"
        aria-label="Follow us on Instagram"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <p class="footer__text">&copy; 2025 Recovery Pod. All rights reserved.</p>
    <p class="footer__text">
      Calmly crafted by <a href="https://jamesiles.uk" target="_blank">James</a>
    </p>
  </div>
</footer>
